<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание мероприятия</title>
</head>
<body>

<h1>Создание мероприятия</h1>

<form method="post">
    {% csrf_token %}

    <fieldset>
        <legend>Основная информация</legend>
        {{ form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Даты проведения</legend>
        {{ formset.management_form }}

        {% for f in formset %}
            <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px">
                {{ f.as_p }}
            </div>
        {% endfor %}
    </fieldset>

    <button type="submit">Сохранить</button>
</form>

</body>
</html>
